:root {
  --f7-theme-strongred: #B10606;
  --f7-theme-strongred-shade: #4e0303;
  --f7-theme-strongred-tint: #f82525;
  --f7-theme-strongred-rgb: 177, 6, 6;
  --f7-theme-nightrider: #2C2C2C;
  --f7-theme-nightrider-shade: #000000;
  --f7-theme-nightrider-tint: #5f5f5f;
  --f7-theme-nightrider-rgb: 44, 44, 44;
  --f7-theme-irisblue: #06ACB1;
  --f7-theme-irisblue-shade: #034c4e;
  --f7-theme-irisblue-tint: #25f1f8;
  --f7-theme-irisblue-rgb: 6, 172, 177;
  --f7-theme-brightgreen: #06B15F;
  --f7-theme-brightgreen-shade: #034e2a;
  --f7-theme-brightgreen-tint: #25f893;
  --f7-theme-brightgreen-rgb: 6, 177, 95;
  --f7-theme-strongorange: #B17B06;
  --f7-theme-strongorange-shade: #4e3603;
  --f7-theme-strongorange-tint: #f8b525;
  --f7-theme-strongorange-rgb: 177, 123, 6;
  --f7-theme-lightsyn: #aa06b1;
  --f7-theme-lightsyn-shade: #a706ac;
  --f7-theme-lightsyn-tint: #bf07c5;
  --f7-theme-lightsyn-rgb: 170, 6, 177;
  --f7-theme-basegreen: #89b106;
  --f7-theme-basegreen-shade: #86ac06;
  --f7-theme-basegreen-tint: #99c507;
  --f7-theme-basegreen-rgb: 137, 177, 6;
   --f7-theme-darkyellow: #caaf11;
  --f7-theme-darkyellow-shade: #bca210;
  --f7-theme-darkyellow-tint: #d3b612;
  --f7-theme-darkyellow-rgb: 202, 175, 17;
  --f7-theme-p-text-color: #000;
  --f7-theme-default-color: #141414;
  --f7-theme-default-reverse-color: #fff;
  --f7-theme-default-font-family-base:'Roboto', sans-serif;
  --f7-theme-search-bg-color: #fff;
   --f7-theme-color-tex:#fff;
  --f7-theme-search-shadow:0 0 64px 12px rgba(103, 103, 103, 0.16), 0 0 1px 0 #d6d6d6;

--f7-theme-placeholder-text-color:#737373;
--f7-theme-icon-color-white:url(img/search.html);

 --f7-theme-icon-color-white:url(img/search-white.html);   
 --f7-theme-toggle-icon:url(img/sun-white.html);  
 
  --f7-theme-circle-shadow:inset 90px 6px 6px #fffbfb;
 --f7-theme-sun1-white:url(img/sun-white.html);
   --f7-theme-search-icon:url(img/mic-white-theme.html);
   --f7-theme-default-bg-color-light: #fff;

    --f7-theme-default-margin0:margin:0px;
   
	--f7-theme-color: #1495ba;
	--f7-theme-font-roboto-slab:'Roboto Slab', serif;
  	--f7-theme-font-roboto:'Roboto', sans-serif;
	--f7-theme-font-color-white:#fff;
	--f7-theme-button-color-bg:#66ddff;
	--f7-theme-button-color-font:#fff;
	--f7-theme-button-bg-size:28px;
	--f7-theme-search-mic-color:#737373;
	--f7-theme-text-color-b:#aeafb0;
    --f7-theme-box-shadow:0 0 56px 8px rgba(103, 103, 103, 0.12), 0 0 1px 0 #d6d6d6;
	--f7-news-ads-block-bg:#f3f3f3;
	 --f7-news-img-border:1px solid #fff;
    --f7-news-form-placeholder:1px solid #141414;
	 
	--f7-news-navbar-bg:#f2f3f4;
	--f7-news-icon-color:#1495ba;
	--f7-news-acitve-bar:#fff;
	--f7-news-profile-bar:0 34px 44px -11px rgba(0, 0, 0, 0.08);
	--f7-news-profile-bg-color:#fff;
	--f7-theme-text-color-h1:#fff;
	--f7-theme-contribut-bg:#fff;
    --f7-theme-contribut-border: 1px solid #a6b0b2; 
	--f7-theme-contribut-color:#aeafb0;
	 --f7-theme-chip-bg-color:#ededed;	
	 --f7-theme-chip-font-color:#141414;
	 --f7-theme-bg-tiles2-color:#fff;
	   --f7-theme-our-story-bg1:#fff;
	 --f7-theme-filter-o:invert(47%) sepia(17%) saturate(10%) hue-rotate(32deg) brightness(92%) contrast(95%);
	  --f7-theme-intrest-bg:#455b73;
      --f7-theme-intrest-color:#fff;
	  --f7-theme-wave-bg:url(img/wave-white.html);
	   --f7-theme-tagh-color:#737373;
	--f7-theme-blog-quotes-bg:url(img/blog-quotes.html);
	   
 --f7-theme-color-posthead-color:#737373;
  --f7-theme-opacity-txt:0.5;
  --f7-theme-box-show-1: 3px 0px 9px #c5bfbf;
  
  --f7-wirte-artilce-button-bg:#fff;
  --f7-wirte-artilce-border-b1:1px solid #a6b0b2;
  --f7-wirte-artilce-border-b2: -2px 13px 23px -2px rgba(212, 211, 211, 0.95);
    --f7-cata-shadow:0px 0px 9px #d9d8d8;
	--f7-cata-follow-color:#141414;
	--f7-cata-follow-opacity:0.6;
	
	--f7-forgot-password-bg:#ffffffe8;
--f7-forgot-password-bg2:#fff;
	
--f7-guide-bg:#fffffff2;



}













:root .theme-dark,
:root.theme-dark {
	--f7-guide-bg:#fffffff2;
	--f7-forgot-password-bg2:#2c2c2c;	
	--f7-forgot-password-bg:#2c2c2c;	
	/* --f7-theme-color: #66ddff;*/
	
	
	--f7-cata-follow-color:#fff;
	--f7-cata-follow-opacity:1;
	      --f7-cata-shadow:none;
  --f7-wirte-artilce-button-bg:#3f3f3f;
  --f7-wirte-artilce-border-b1:1px solid #545454;
  --f7-wirte-artilce-border-b2:none;
	  --f7-theme-box-show-1:15px 15px 56px -8px rgba(0, 0, 0, 0.16);
	 --f7-theme-opacity-txt:1;
	 --f7-theme-color-posthead-color:#fff;
		--f7-theme-blog-quotes-bg:url(img/blog-quotes.html);
	 --f7-theme-tagh-color:#fff;
	 --f7-theme-wave-bg:url(img/wave-black.html);
    --f7-theme-intrest-color:#141414;
	  --f7-theme-intrest-bg:#bef7e7;
		 --f7-theme-filter-o:none;
	  --f7-theme-our-story-bg1:#2c2c2c;
	--f7-theme-bg-tiles2-color:#3f3f3f;
	
	 --f7-theme-chip-bg-color:#3f3f3f;	
	 --f7-theme-chip-font-color:#fff;
	--f7-theme-contribut-color:#fff;
	--f7-theme-contribut-border: 1px solid #3f3f3f; 
	--f7-theme-contribut-bg:#3f3f3f;
	--f7-news-profile-bar:none;
	--f7-news-profile-bg-color:#3f3f3f;
	--f7-news-acitve-bar:#fff;
	--f7-news-icon-color:#fff;
	--f7-news-navbar-bg:#3f3f3f;
    --f7-news-form-placeholder:1px solid #fff;
	
	   --f7-news-img-border:1px solid #2c2c2c;
	   
	 --f7-news-ads-block-bg:#3f3f3f;
 --f7-theme-box-shadow:none;
	--f7-theme-placeholder-text-color:#fff;
	--f7-theme-search-mic-color:#fff;
	--f7-theme-button-color-bg:#66ddff;
	--f7-theme-button-color-font:#2c2c2c;
	--f7-theme-button-bg-size:28px;
  --f7-theme-p-text-color: #fff;
  --f7-theme-default-color: #fff;
  --f7-theme-default-reverse-color: #fff;
   --f7-theme-default-bg-color: #2c2c2c;
   --f7-theme-default-font-family-base:'Roboto', sans-serif;
     --f7-theme-default-white-filter: invert(47%) sepia(11%) saturate(13%) hue-rotate(331deg) brightness(92%) contrast(85%);
	 --f7-theme-search-bg-color:#3f3f3f;  
  --f7-theme-search-shadow:none;
 --f7-theme-sun1-white:url(img/sun-black.html);
--f7-theme-icon-color-white:url(img/search.html);  

  --f7-theme-circle-shadow:inset 90px 6px 6px #3f3f3f;

   --f7-theme-color-tex:#fff;
	 --f7-theme-search-icon:url(img/mic.html);
	  --f7-theme-default-margin0:margin:0px; 
	
--f7-theme-font-roboto-slab:'Roboto Slab', serif;
  	--f7-theme-font-roboto:'Roboto', sans-serif;	
	
		--f7-theme-font-color-white:#000; 
		   --f7-theme-text-color-b:#fff;
		   --f7-theme-slelect-chip:#e6e6e6;
		    --f7-theme-text-color-h1:#fff;
	
}





.color-theme-strongred {
	 --f7-theme-slelect-chip:#3f3f3f;
  --f7-theme-color: #B10606;
  --f7-theme-color-rgb: 177, 6, 6;
  --f7-theme-color-shade: #4e0303;
  --f7-theme-color-tint: #f82525;
}

.color-theme-nightrider {
  --f7-theme-color: #2C2C2C;
  --f7-theme-color-shade: #000000;
  --f7-theme-color-tint: #5f5f5f;
  --f7-theme-color-rgb: 44, 44, 44;
}

.color-theme-irisblue {
 --f7-theme-color: #06ACB1;
  --f7-theme-color-shade: #034c4e;
  --f7-theme-color-tint: #25f1f8;
  --f7-theme-color-rgb: 6, 172, 177;
}

.color-theme-brightgreen {
 --f7-theme-color: #06B15F;
  --f7-theme-color-shade: #034e2a;
  --f7-theme-color-tint: #25f893;
  --f7-theme-color-rgb: 6, 177, 95;
}

.color-theme-strongorange {
  --f7-theme-color: #B17B06;
  --f7-theme-color-shade: #4e3603;
  --f7-theme-color-tint: #f8b525;
  --f7-theme-color-rgb: 177, 123, 6;
}
.color-theme-lightsyn {
  --f7-theme-color: #aa06b1;
  --f7-theme-color-shade: #a706ac;
  --f7-theme-color-tint: #bf07c5;
  --f7-theme-color-rgb: 170, 6, 177;
}

.color-theme-basegreen {
  --f7-theme-color: #89b106;
  --f7-theme-color-shade: #86ac06;
  --f7-theme-color-tint: #99c507;
  --f7-theme-color-rgb: 137, 177, 6;
}
.color-theme-darkyellow {
  --f7-theme-color: #caaf11;
  --f7-theme-color-shade: #bca210;
  --f7-theme-color-tint: #d3b612;
  --f7-theme-color-rgb: 202, 175, 17;
 
}


.block-nosidespace {padding-right: 0px;  padding-left: 0px;}
.block-nospace {padding: 0px;}
.block-topBspace {padding-top: 0px; padding-bottom: 0px;}
.block-leftspace {padding-right: 0px !important;}
.block-rightspace { padding-left: 0px;}
.textcenter{ text-align: center}
.textright{ text-align: right}
.textleft{ text-align: left}
.swiper-slide-widthauto{ width: auto;}
.card-scale {transform: scale(0.95);}
